@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 200vh;
    background-color: #e8dfca;
}
nav{
    padding-bottom: 73px;
    z-index: 1000;
}

main{
    margin-left: 80px;
}

  





