@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    background-color: #e8dfca;
    animation: start 1s ease-in-out;
}

@keyframes start {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

nav{
    padding-bottom: 64px;
    z-index: 1000;
}

.banner{
    margin-left: 75px;
    margin-bottom: 25px;
}

main{
    margin-left: 80px;
}

.slidebar{
    z-index: 1;
}
.slidetex {
    
    padding-left: 7px;
    display: inline-block;
    width: 0;
    overflow: hidden;
    opacity: 0;
    white-space: nowrap; /* Prevent line breaks */
    transition: width 0.5s ease, opacity 0.5s ease;
}

.slidetex.active {
    opacity: 1;
    white-space: nowrap; /* Prevent line breaks */
}

.hidescrlb::-webkit-scrollbar {
    display: none;
  }

.hp{
    padding: 15px;
    
}

.alc{
    text-align: center;
}

.ale{
    text-align: center;
}


@media screen and (max-width: 600px) {
    .hp{
        padding: 3.5px;
    }
}

@media screen and (max-width: 400px) {
    .ale{
        text-align: end;
    }
}


/* tailwind.css or custom CSS file */
@layer utilities {
    .scrollbar-thin {
      scrollbar-width: thin;
    }
    .scrollbar-thumb-rounded {
      scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
      scrollbar-width: thin;
    }
    .scrollbar-thumb-rounded::-webkit-scrollbar {
      width: 8px;
      
    }
    .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border-radius: 9999px;
    }
    .scrollbar-thumb-rounded::-webkit-scrollbar-track {
      background: var(--scrollbar-track-color);
    }
  }
  
.blhv{
    transition: transform 0.3s;
}
.blhv:hover{
    transform: scale(0.95);
}

.transithon{
    transition: 1s all;
}

.weth{
    height: 90vh;
}

  





